{% extends 'layout/base.html' %}


{% block css %}
<style>
    body {
        background-image: radial-gradient(#dbf79f, #a8dba8, #79bd9a);
    }
    #login-box{
        min-height: 80vh;
        padding-top: 5rem;
    }
    
</style>
{% endblock css %}

{% block content %}
<div class="container" id="login-box">
    <div class="row">
        <div class="col-lg-4 mx-auto">
            <form method="post">
                {% csrf_token %}
                <h2>Login</h2>
                {% include 'components/message.html' %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" id="username" aria-describedby="helpId"
                        placeholder="Your username">
                    <small id="helpId" class="form-text text-muted">enter your registered username</small>
                </div>
                <div class="mb-3">
                    <label for="pass" class="form-label">Password</label>
                    <input type="password" class="form-control" name="pass" id="pass" aria-describedby="helpId"
                        placeholder="Your password">
                    <small id="helpId" class="form-text text-muted">enter your password</small>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}