{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
{% include 'components/message.html' %}
<div class="container my-3">
    <div class="row">

        {% for item in articles %}
        {% include 'components/article_card.html' %}
        {% empty %}
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">No Articles Available</h4>
            <p>You can create an account and write new articles for us</p>
            <hr>
            <p class="mb-0">
                Are you are budding writer?
                <a href="{% url 'register' %}">Register here</a>
                to write articles for us
            </p>
        </div>
        {% endfor %}
        <!-- pagination -->
        <nav aria-label="article navigation">
            <ul class="pagination">
                {% if articles.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?p={{ articles.previous_page_number }}">previous</a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link active">
                        {{ articles.number }} of {{ articles.paginator.num_pages }}
                    </a>
                </li>
                {% if articles.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?p={{ articles.next_page_number }}">next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}