<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                DP BLOG
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="{% url 'home' %}" class="nav-link px-2 text-light">
                        <i class="bi bi-house"></i>
                    </a>
                </li>

            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
                    aria-label="Search">
            </form>


            <div class="text-end">
                {% if user.is_authenticated %}
                <div class="dropdown open">
                    <a class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{user.username|title}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        {% if user.is_superuser %}
                        <a class="dropdown-item" href="{% url 'admin:index' %}">Dashboard</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'my_articles' %}">My Articles</a>
                        <a class="dropdown-item" href="{% url 'add' %}">Create</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Login</a>
                <a href="{% url 'register' %}" class="btn btn-warning">Sign-up</a>
                {% endif %}
            </div>

        </div>
    </div>
</header>